<html>
    <head>
      {% if title %}
      <title>{{ title }} - TEAM11</title>
      {% else %}
      <title>Welcome!</title>
      {% endif %}
    </head>
    <body>
        <div>
           Team 11: <a href="/home">Home</a>
           <a href="login"> Login</a>
           <a href="index'"> IndexPage</a>
        </div>
                <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
