<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

 {% if title %}
        <title>{{ title }} - TEAM 11</title>
        {% else %}
        <title>Welcome to Team 11 Security System!</title>
        {% endif %}
  </head>

  <body class="text-center">
	<h1></h1>
	<h1 class="h3 mb-3 font-weight-normal"></h1>

	<div class="jumbotron">
  		<h1 class="display-4">Hello, {{ user.username }}!</h1>
  		<p class="lead">Team 11 Security System</p>
  		<hr class="my-4">
  		<p>Cation: Only enter a correct password or the system will sound the alarm!</p>
  		<a class="btn btn-primary btn-lg" href="#" role="button">Enter Password</a>
	</div>
  </body>
</html>
